{% extends "base.html" %} {% block content %}

<div class="container py-5">
  <div class="card shadow border-0">
    <div class="card-body text-center">
      <h1 class="text-success">✅ Payment Successful</h1>

      <p class="lead">Your internet plan has been activated.</p>

      <hr />

      <h4>{{ order.plan.name }}</h4>

      <p>{{ order.plan.data }}</p>

      <h2 class="text-primary mt-4">Voucher Code</h2>

      <div class="alert alert-success">
        <h1 id="voucher">{{ voucher.voucher_code }}</h1>
      </div>

      <button class="btn btn-primary" onclick="copyVoucher()">
        Copy Voucher
      </button>

      <br /><br />

      <strong> Valid Until </strong>

      <br />

      {{ voucher.expires_at }}

      <br /><br />

      <strong> Device Limit </strong>

      <br />

      {{ voucher.device_limit }} Devices

      <br /><br />

      <a href="{% url 'dashboard' %}" class="btn btn-success">
        Go To Dashboard
      </a>
    </div>
  </div>
</div>

<script>
  function copyVoucher() {
    const voucher = document.getElementById("voucher").innerText;

    navigator.clipboard.writeText(voucher);

    alert("Voucher copied successfully.");
  }
</script>

{% endblock %}
